{{#each question.answers as |answer|}}
  <h4>{{answer.author}}</h4>
  <p>{{answer.response}}</p>
  <button class="btn btn-default btn-sm" {{action 'deleteAnswer' answer}}>&CircleTimes; Delete</button>
  <hr>
{{/each}}
