{{#each favoritesList.questions as |question|}}
  <h4 class="queryHeader">{{#link-to 'question' question.id}}{{question.query}}{{/link-to}}</h4>
  <button class="btn btn-default "{{action "removeFromFavorites" question}}>&CircleTimes; Remove From Favorites</button>
  <hr>
{{/each}}
<button class="btn btn-default editBtn" {{action 'emptyList' questions}}>&CircleTimes; Empty List</button>
{{#link-to 'index'}}{{total}}{{/link-to}}
