<h4 class="subHeader">add new answer</h4>
<div class="form">
  {{input class="form-control" value=author id="author" placeholder="Your Name"}}
  {{textarea class="form-control" value=response id="response" placeholder="Answer"}}
  <button class="btn btn-default addBtn" {{action 'saveAnswer'}}>&#10141;  Add</button>
</div>
