<h2 class="queryHeader">Q: {{question.query}}</h2>
<h4><strong>{{question.author}}</strong></h4>
<p>{{question.notes}}</p>
<button class="btn btn-default editBtn btn-sm" {{action 'delete' question}}>&CircleTimes; Delete</button>
