<h3 class="queryHeader">{{no-answer question}}{{#link-to 'question' question.id}}{{question.query}}{{/link-to}}</h3>
<h4>{{question.author}}</h4>
<p>{{moment-from-now question.timestamp 'MMMM Do YYYY, h:mm a' allow-empty=true}}</p>
