body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('http://www.pixeden.com/media/k2/galleries/165/001-subtle-light-pattern-background-texture-vol5.jpg');
  font-size: 16px;
}

.container {
  background-color: white;
  padding-bottom: 20px;
  border-radius: 5px;
  width: 80%;
}

.container-fluid {
  background-color: #9DB5B2;
  border: #9DB5B2;
  color: white;
  font-family: 'Nixie One', cursive;
}

.container-fluid a {
  color: white;
  text-transform: uppercase;
}

.container-fluid a:hover {
  color: white;
}

a {
  color: #94D1BE;
}

a:hover {
  color: #667067;
}

#brand {
  font-family: 'Nixie One', cursive;
  font-weight: bolder;
}

.pageHeader {
  font-family: 'Nixie One', cursive;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
  color: #667067;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #DAF0EE;
  padding: 1%;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
}

input, textarea {
  margin: 3px;
}

.addBtn {
  width: 100px;
  margin: 0 auto;
  background-color: #9DB5B2;
  border: #9DB5B2;
  color: white;
  transition: all 300ms linear;
}

.addBtn:hover {
  background-color: #94D1BE;
  border: #94D1BE;
}

.editBtn {
  margin: 3px;
}
#addFav {
  margin: 3px;
  color: black;
}

.subHeader {
  font-family: 'Nixie One', cursive;
  text-align: center;
}

.queryHeader {
  font-family: 'Nixie One', cursive;
  padding-bottom: 5px;
  font-weight: bold;
  color: #94D1BE;
}

#counter{
  background-color: #94D1BE;
  color: white;
  border-radius: 5px;
  padding-left: 1px;
  padding-right: 15px;
}

#favLink {
  background-color: #94D1BE;
  color: white;
  padding-right: 1;
  padding-left: 15px;
}

#iconKey {
  font-family: 'Nixie One', cursive;
  color: #9DB5B2;
  font-size: 16px;
  text-align: center;
}

#time {
  font-size: 12px;
  color: #9DB5B2;
}

#inFavorites {
  font-family: 'Nixie One', cursive;
  color: tomato;
  text-align: center;
}
