<h1 class="pageHeader">Q &amp; A </h1>
<p id="iconKey"><span>&#9744; :  answers needed  |  &#9745;  :  checkout my answers</span></p>
<hr>
{{#each model as |question|}}
    {{question-preview question=question}}
  <hr>
{{/each}}
