<h1 class="pageHeader">Q &amp; A </h1>
<p><span>&#9744; :  questions in search of answers</span>  |  
<span>&#9745;  :  checkout my answers</span></p>
<hr>
{{#each model as |question|}}
    {{question-preview question=question}}
  <hr>
{{/each}}
