<h1 class="pageHeader">Q &amp; A </h1>
<p id="iconKey"><span>&#9744; :  answers needed  |  &#9745;  :  checkout my answers</span></p>
<div class="categories">
  {{#link-to 'sports'}}<button class="btn btn-default addBtn btn-sm">sports</button>{{/link-to}}
  {{#link-to 'fashion'}}<button class="btn btn-default addBtn btn-sm">fashion</button>{{/link-to}}
  {{#link-to 'tech'}}<button class="btn btn-default addBtn btn-sm">tech</button>{{/link-to}}
  {{#link-to 'news'}}<button class="btn btn-default addBtn btn-sm">news</button>{{/link-to}}
  {{#link-to 'health'}}<button class="btn btn-default addBtn btn-sm">health</button>{{/link-to}}
</div>
<hr>
{{#each model as |question|}}
  {{question-preview question=question}}
  <hr>
{{/each}}
